
/* h1 {
  text-align: left;
  color: rgb(49, 127, 230);
  padding-left: 50q345t8px;
} */

/* .full-body {
  padding: auto;
  height: 100%;
} */
/* 
.UI {
  padding: 18px;
} */
.sidebar{
  text-align: center;
}
.theme{
  padding-left: 2px;
}

.chatHead{
  animation-direction: alternate-reverse;
}
/* .input-section {
  width: 700px;
  border-radius: 15px 0px 0px 10px;
  height: 40px;
  outline: none;
  text-decoration: none;
} */

/* button {
  border: none;
  height: 39px;
  background-color: #135faf;
  color: rgb(15, 15, 15);
  border-radius: 16px;
  padding: 5px 10px;
  cursor: pointer;

  margin: 4px;
} */
/* .text {
  color: rgb(31, 32, 32);
  word-wrap: break-word;
  margin: 5px;

  margin: 0;
  padding: 5px;
} */

/*   {
  height: 618px;
  overflow-y: scroll;
} */

/* .message-left {
  border-radius: 0 10px 10px 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(34, 162, 231) 100%,
    rgb(34, 162, 231) 100%,
    rgb(34, 162, 231) 100%,
    rgb(34, 162, 231) 100%
  );
  padding: 10px;
  width: min-content;
  color: #0c0b0b;
  box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
  overflow: hidden;
  max-width: 290px;
  inline-size: max-content;
} */
/* 
.message-right {
  border-radius: 10px 10px 0 10px;
  background: rgb(255, 250, 250);
  width: min-content;
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
  padding: 10px;
  margin-left: auto;
  overflow: hidden;
  max-width: 290px;
  inline-size: max-content;
} */

 .message-container {
 
  word-wrap: break-word;
  display: flex;
} 
::-webkit-scrollbar {
  width: 1px;
}

  /* .form-container {
    display: flex;
    align-items: center;
  } */
/* .switch input:checked + .slider:before {
  content: "U2";
}

.switch input + .slider:before {
  content: "U1";
} */

/* .chatGrid-Head {
  border-bottom: 0.5px solid #bfc1c4;
  background-color: white;
  grid-area: header;
} */
/* .Chat-left {
  grid-area: menu;
} */
/* .chatGrid-UI {
  grid-area: main;
} */
/* .sidebar {
  grid-area: right;

  border-left: 0.5px solid #bfc1c4;
  border-right: 0.5px solid #bfc1c4;
}  */
 /* .container-form {
  grid-area: footer;
}  */
 /* .head1 {
  grid-area: head;
}  */
/* 
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "right right    right    main   main  . "
    "  right   right    right main main .";
} */

/* .grid-container > div {
  text-align: center;
  padding: px 0;
  font-size: 20px;
} */

/* .list-group {
  height: 670px;
} */
/* .list-group-item {
  background-color: hwb(300 78% 19%);
  border: none;
  text-decoration: wheat;
} */

/* .colour {
  background-color: #010305;
} */

/* .user-right {
  max-width: 290px;
  inline-size: max-content;
  margin-left: auto;
  font-size: medium;
  margin-right: 34px;
  color: #504f4f;
}

.user-left {
  inline-size: max-content;
  font-size: medium;
  color: #504f4f;
} */

.VertIcon {
  color: rgb(190, 185, 185);
} 

.toggle button {
  border: none !important;
}
.dropdown-toggle::after {
  display: none !important;
  border: none !important;
}
.toggle button {
  color: #dce3eb;
}





/* 
.e-caret-hide::after {
  display: none;
} */

/* .navbar {
  text-align: center;
} */
/* 
input { 
  border-radius: 5px;
  min-width: 65%;
  padding: 5px;
  border: none;
  background-color: #b4b9c0fd;
} */

/* 
.chatHead{
  display: flex;
}

 .togglebox{
  margin-inline-start: auto;
  ;
} 
 */

 
